input, textarea {
  border: none;
  border-radius: 0 0 2px 2px;
  -webkit-box-shadow: 0px 4px 15px -4px #000000; 
  box-shadow: 0px 4px 15px -4px #000000;
}

.success {
  text-align: center;
  width: fit-content;
  margin: 15px auto 0;
  border-bottom: 1px solid black;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  transform: scale(2);
  font-weight: bold;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.form-label {
  font-size: 120%;
  font-weight: bold;
}

.form-input {
  margin-bottom: 8px;
}

.form-text-area {
  height: 80px;
}

.form-submit {
  width: 30%;
  padding: 8px 15px;
  font-size: 120%;
  font-weight: bold;
}

.form-button {
  width: 10vw;
  align-self: center;
}

@media screen and (max-width: 1200px) {
  .form-button {
    width: 20vw;
  }
}

@media screen and (max-width: 600px) {
  .form-button {
    width: 30vw;
  }
}

@media screen and (max-width: 550px) {
  .form-button {
    width: 35vw;
  }
}