/* Animations */
@keyframes title-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

.section1 {
  background: url("../images/computer3.jpg");
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  background-size: cover;
  display: grid;
}

.section1TitleContainer {
  height: 20vh;
  width: 100vw;
  display: grid;
  align-content: center;
  justify-content: center;
}

.section1Title {
  color: white;
  font-family: 'Permanent Marker';
  font-size: 4rem;
  text-align: center;
  animation: title-fade-in 2s;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .section1 {
    background: url("../images/computer.jpg");
    background-size: cover;
  }

  .section1TitleContainer {
    background: rgba(255, 255, 255, 0.87);
  }

  .section1Title {
    font-size: 3rem;
    color: black;
    width: 100%;
    height: 20%;
    margin-top: 0;
  }
}

@media screen and (max-width: 540px) {
  .section1Title {
    font-size: 2rem;
  }
}