/* Animations */

@keyframes title-fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

input, textarea {
  font-family: 'Cabin';
}

.title-wrapper {
  margin-top: 35px;
}

@media screen and (max-width: 650px) {
  .title-wrapper {
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .title-wrapper {
    width: 80%;
  }
}

.main-div {

  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.main-title {
  text-align: center;
  justify-self: center;
  animation: title-fade-in 2.5s;
  font-size: 2.5rem;
  font-family: 'Cinzel';
  width: 100%;
}

.main-sub-title {
  color: #3b3b3b;
  opacity: .8;
  text-align: center;
  justify-self: center;
  font-size: 1.3rem;
  font-family: 'Cabin';
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.centered-content {
  display: flex;
  justify-content: center;
}

.new-home-grid1 {
  display: grid;
  grid-template-rows: 3fr 4fr;
  width: 55%;
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}

.panel-text {
  text-align: center;
  font-size: 1.5rem;
  height: 80%;
}

.panel-text-title {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

.form-wrapper {
  display: flex;
  width: 90%;
  max-width: 700px;
  justify-content: center;
}

.side-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-awesome {
  font-size: 10rem;
  color: #3b3b3b;
}

@media screen and (max-width: 870px) {
  .new-home-grid1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .side-section {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {

  .main-title {
    font-size: 2.1rem;
  }
  
  .new-home-grid1 {
    justify-content: left;
    width: 100%;
  }

  .side-section {
    display: none;
  }

  .panel-icon {
    display: none;
  }
}
